<div class="center">
  <!-- <p>This is center comp</p> -->
  <!-- <p>This is Center Component</p> -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-products></app-products> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-users></app-users> -->
  <!-- <app-comments></app-comments> -->
  <!-- <app-employees></app-employees> -->
  <!-- <app-todos></app-todos> -->
  <!-- <app-observable-demo1></app-observable-demo1> -->
  <!-- <app-observable-demo2></app-observable-demo2> -->
  <!-- <app-fork-join-demo></app-fork-join-demo> -->
  <!-- <app-mergemap-demo></app-mergemap-demo> -->
  <!-- <app-observable-demo3></app-observable-demo3> -->
  <!-- <app-subjects-demo></app-subjects-demo> -->
  <!-- <app-form-demo1></app-form-demo1> -->
  <!-- <app-form-demo2></app-form-demo2> -->
  <!-- <app-form-demo3></app-form-demo3> -->
  <!-- <app-form-demo4></app-form-demo4> -->
  <app-form-demo5></app-form-demo5>

  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <app-message-list></app-message-list>
      </div>
      <div class="col-sm-4">
        <app-message-add></app-message-add>
      </div>
    </div>
  </div> -->

  <!--  <app-emp1></app-emp1>
  <hr>
  <app-emp2></app-emp2>
  <hr>
  <app-emp3></app-emp3> -->

</div>