<div class="center">
  <!-- <p>This is center comp</p> -->
  <!-- <p>This is Center Component</p> -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-products></app-products> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-users></app-users> -->
  <!-- <app-comments></app-comments> -->
  <app-employees></app-employees>
  <!-- <app-todos></app-todos> -->

 <!--  <app-emp1></app-emp1>
  <hr>
  <app-emp2></app-emp2>
  <hr>
  <app-emp3></app-emp3> -->

</div>