<p>pipes works!</p>

<h4>{{name}}</h4>
<h4>{{name | uppercase}}</h4>
<h4>{{name | lowercase}}</h4>
<h4>{{name | titlecase}}</h4>
<hr>
<h4>{{mySal}}</h4>
<h4>{{mySal | currency}}</h4>
<h4>{{mySal | currency : 'INR'}}</h4>
<!-- input  | pipeName : Argument -->
<h4>{{mySal | currency : '&euro;'}}</h4>
<h4>{{mySal | currency : '&yen;'}}</h4>
<hr>
<h4>{{today}}</h4>
<h4>{{today | date}}</h4>
<h4>{{today | date : 'fullDate' }}</h4>
<h4>{{today | date : 'mediumDate' }}</h4>
<h4>{{today | date : 'shortDate' }}</h4>
<h4>{{today | date : 'fullTime' }}</h4>
<h4>{{today | date : 'mediumTime' }}</h4>
<h4>{{today | date : 'shortTime' }}</h4>
<h4>{{today | date : 'dd-MMM-yyyy' }}</h4>
<h4>{{myDOB | date : 'dd-MMMM-yyyy' }}</h4>
<input type="date" [(ngModel)]="myDOB" /> DOB:{{myDOB}}
<hr>
<h4>{{ 12.1 | number: "3.2-5" }}</h4>
<h4>{{ 12.11231731 | number: "3.2-5" }}</h4>
<h4>{{ 12.11231231 | number: "1.2-5" }}</h4>
<h4>{{0.75 | percent}}</h4>
<h4>{{2 | percent}}</h4>
<hr>
<h4>{{user}}</h4>
<h4>{{user | json}}</h4>
<h4 *ngFor="let entry of user | keyvalue">
    {{ entry.key }}---{{ entry.value }}
</h4>
<!-- keyvalue returns [ ['name','sanjay'],['age',30]] -->
<hr>
<h4>{{cars}}</h4>
<h4>{{cars | slice:1}}</h4>
<h4>{{cars | slice:1:3}}</h4>
<h4>{{cars | slice:1:-1}}</h4>
<hr>
<textarea cols="30" rows="3" [(ngModel)]="msg" maxlength="100"></textarea>
<div>Remaining: {{msg | remaining }}</div>
<hr>
<textarea cols="30" rows="3" [(ngModel)]="msg" maxlength="200"></textarea>
<div>Remaining: {{msg | remaining:200 }}</div>
<hr>
<input [(ngModel)]="cardinal" type="number"> {{cardinal}}
<div>{{cardinal | ordinal}}</div>
<hr>
<input type="number" #newNum>
<button (click)="arr.push(+newNum.value)">push a new val</button>
<b *ngFor="let ele of arr | mySort">
    {{ele}},
</b>